@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* Navbar */
.navbar .nav {
  list-style: none;
  display: flex;
}

.navbar .nav > li {
  position: relative;
}

.dropdown-container {
  @apply fixed top-20 w-full z-40 bg-white/80 backdrop-blur-sm;
}
